:host {
  flex-shrink: 0;
  display: inline-block;
}

.root {
  inline-size: var(--acme-control-height);
}

.native {
  block-size: calc(var(--acme-control-height) - 2px);
  text-align: center;
  font-variant-numeric: tabular-nums;
  padding: 0;
}
