.content {
  --width: initial;
  align-items: center;
  gap: .5rem;
  min-width: 0;
  display: flex;
}

:host {
  min-width: 0;
}

.content :where(.text) {
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  min-width: 0;
  display: flex;
}

.content:where(.fill), :host([fill]) {
  flex: 1;
}

.content:where(:not(.fill)), :host(:not([fill])) {
  flex: 0 auto;
}

.content :where(.text) :where(.title) {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--acme-font-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
}

.content :where(.text) :where(.description) {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--acme-font-sans);
  color: var(--ds-gray-900);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
}

.content :where(.text) :where(.title) > strong, .content :where(.text) :where(.description) > strong {
  color: var(--ds-gray-1000);
  font-weight: 550;
}
