.trigger {
  height: var(--height);
  cursor: pointer;
  background-color: var(--themed-bg, var(--ds-gray-1000));
  vertical-align: baseline;
  max-width: 100%;
  font-size: 14px;
  font-weight: var(--acme-font-weight-400);
  color: var(--themed-fg, var(--ds-background-100));
  box-shadow: 0 0 0 1px var(--themed-border, transparent);
  -webkit-user-select: none;
  user-select: none;
  --height: var(--ds-size-medium);
  --themed-bg: var(--ds-background-100);
  --themed-border: var(--ds-gray-400);
  --themed-fg: var(--ds-gray-1000);
  --themed-hover-bg: var(--ds-gray-alpha-200);
  --x-padding: 10px;
  border-style: solid;
  border-width: 0;
  border-radius: .375rem;
  outline-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .15s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: relative;
  translate: 0;
  padding-inline: var(--acme-gap-half) !important;
  padding-right: 13px !important;
  padding-left: var(--x-padding) !important;
  justify-content: space-between !important;
}

.trigger :where(.label) :where(.text) {
  align-items: center;
  min-width: 0;
  margin-inline: -.125rem;
  display: flex;
}

.trigger :where(.end) {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-left: .25rem;
  margin-right: .125rem;
  display: flex;
}

.trigger :where(.label) {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-inline: .375rem;
  display: inline-block;
  overflow: hidden;
}

.trigger :where(.end) :where(.chev) {
  color: var(--ds-gray-700);
  transition-property: color, transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .15s;
}

@media not all and (width >= 401px) {
  .trigger {
    width: 100%;
  }
}

.trigger svg {
  flex-shrink: 0;
}

.trigger:disabled, .trigger[aria-disabled="true"] {
  cursor: not-allowed;
  background-color: var(--ds-gray-100);
  color: var(--ds-gray-700);
  box-shadow: 0 0 0 1px var(--themed-border, transparent);
  --themed-border: var(--ds-gray-400) !important;
}

.trigger[data-hover] {
  box-shadow: 0 0 0 1px var(--ds-gray-alpha-500);
}

.trigger[data-focus] {
  box-shadow: var(--ds-focus-ring);
  transition-property: none;
}

.trigger :where(.end) svg {
  width: var(--ds-control-decoration-size);
  height: var(--ds-control-decoration-size);
}

.trigger > span:last-child {
  margin-right: -1px;
}

.trigger[data-hover] .chev {
  color: var(--ds-gray-1000);
}

.trigger[data-state="open"] .chev {
  transition-property: none;
  rotate: 180deg;
}
