:host, .field {
  display: block;
}

.wrap.tiny :where(select) {
  height: var(--acme-form-tiny-height);
  font-size: var(--acme-form-tiny-font);
  line-height: var(--acme-form-tiny-line-height);
  border-radius: .25rem;
  padding-inline: .5rem 1.75rem;
}

.wrap.tiny :where(.end) {
  right: .5rem;
}
