acme-button:where(.no-gap)::part(root) {
  margin-top: 0;
}

acme-button:where(:not(.no-gap))::part(root) {
  margin-top: 1rem;
}

acme-button::part(root) {
  width: 100%;
}

acme-button:where(.no-radius)::part(root) {
  border-radius: 0;
}

acme-button svg {
  flex-shrink: 0;
}
