.pagination :where(.center) {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.pagination {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

@media not all and (width >= 1200px) {
  .pagination :where(.center) {
    display: none;
  }
}

.pagination a {
  text-decoration-line: none;
}
