.buttons :where(acme-icon-button) svg {
  flex-shrink: 0;
}

.buttons {
  justify-content: center;
  gap: 8px;
  margin: 1px;
  display: flex;
}

.buttons:where(.x) {
  justify-content: flex-start;
}
