:host {
  min-inline-size: 0;
  display: inline-flex;
}

li {
  align-items: center;
  gap: var(--acme-spacing-2);
  min-inline-size: 0;
  font-size: .875rem;
  line-height: 1.5;
  list-style: none;
  display: inline-flex;
}

[part="link"] {
  color: var(--ds-gray-900);
  overflow-wrap: anywhere;
  text-decoration: none;
}

a:hover {
  color: var(--ds-gray-1000);
  text-decoration: underline;
}

[aria-current="page"] {
  color: var(--ds-gray-1000);
  font-weight: var(--acme-font-weight-500);
}

[aria-disabled="true"] {
  color: var(--ds-gray-700);
  cursor: not-allowed;
}

a:focus-visible {
  outline: 2px solid var(--ds-focus-color);
  outline-offset: 2px;
  border-radius: 2px;
}

[part="separator"] {
  color: var(--ds-gray-700);
  flex: none;
  display: flex;
}

:host(:dir(rtl)) [part="separator"] acme-chevron-right-icon {
  transform: rotate(180deg);
}

[hidden] {
  display: none !important;
}

@media (forced-colors: active) {
  a:focus-visible {
    outline-color: highlight;
  }

  [aria-disabled="true"] {
    color: graytext;
  }
}
