.item:where(:not(.menu)) {
  display: flex;
}

.item :where(.chip) {
  display: inline-block;
}

.item:where(.menu) {
  height: fit-content;
  display: inline-flex;
}

.item :where(.chip) {
  min-width: 0;
  max-width: 100%;
}

.item:where(:not(.menu).disabled) {
  cursor: not-allowed;
}

.item:where(:not(.menu):not(.disabled)), .item :where(.chip) {
  cursor: pointer;
}

.item {
  align-items: center;
}

.item:where(:not(.menu)) {
  gap: .375rem;
}

.item :where(.chip) {
  text-overflow: ellipsis;
  border-style: solid;
  border-width: 1px;
  border-radius: .25rem;
  overflow: hidden;
}

.item:where(.active) :where(.chip) {
  border-color: var(--ds-gray-600);
}

.item:where(:not(.active)) :where(.chip) {
  border-color: var(--ds-gray-alpha-400);
}

.item:where(.active) :where(.chip) {
  background-color: var(--ds-background-100);
}

.item:where(:not(.active):not(.disabled)) :where(.chip) {
  background-color: var(--ds-background-200);
}

.item:where(.disabled) :where(.chip) {
  background-color: var(--ds-gray-alpha-200);
}

.item :where(.chip) {
  padding-block: .125rem;
  padding-inline: .375rem;
}

.item:where(:not(.menu)) {
  font-size: .875rem;
  line-height: calc(1.25 / .875);
}

.item :where(.chip) {
  font-size: .75rem;
  line-height: calc(1 / .75);
  font-weight: var(--font-sans);
  word-break: normal;
  overflow-wrap: normal;
  white-space: nowrap;
}

.item:where(:not(.menu).disabled), .item:where(.disabled) :where(.chip) {
  color: var(--ds-gray-700);
}

.item:where(:not(.menu):not(.active):not(.disabled)), .item:where(:not(.active):not(.disabled)) :where(.chip) {
  color: var(--ds-gray-900);
}

.item:where(:not(.menu).active), .item:where(.active) :where(.chip) {
  color: var(--ds-gray-1000);
}

.item :where(.chip) {
  transition-property: color, border-color, background;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.item:where(:not(.menu)) {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --acme-gradient-from, --acme-gradient-via, --acme-gradient-to;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.item :where(.chip) {
  transition-duration: .2s;
}

.item:where(:not(.menu)), .item :where(.chip) {
  animation-duration: .2s;
}

@media (width >= 401px) {
  .item:where(.menu) {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: normal;
    min-width: 0;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
  }

  :host([menu]) {
    min-width: 0;
    max-width: 100%;
  }
}

.item:where(:not(.menu)) a {
  color: inherit;
  box-shadow: var(--ds-focus-ring);
  border-radius: .125rem;
  text-decoration-line: none;
}

.item:where(:not(.menu)) svg {
  color: var(--ds-gray-900) !important;
}

@media (hover: hover) {
  .item :where(.chip)[data-hover] {
    border-color: var(--ds-gray-alpha-500);
    background-color: var(--ds-gray-200);
  }

  .item:where(:not(.menu))[data-hover], .item :where(.chip)[data-hover] {
    color: var(--ds-gray-1000);
  }
}

.item :where(.chip)[data-focus] {
  box-shadow: var(--ds-focus-ring);
  outline-style: none;
}

.item:where(.disabled) :where(.chip):disabled {
  cursor: not-allowed;
}

.item:where(:not(.menu)) a[data-focus] {
  outline-style: none;
}

:host(:last-of-type) :where(.item):where(:not(.menu)) svg {
  display: none;
}
