src/generated/** linguist-generated=true
src/define/** linguist-generated=true
src/all.ts linguist-generated=true
src/register/** linguist-generated=true
src/internal/register/** linguist-generated=true
src/internal/define/** linguist-generated=true
