:host { color: var(--ds-blue-900); }
[part="root"] { text-decoration: none; }
:host(:not([underline="none"])) [part="root"]:is(:hover, :focus-visible), :host([underline="always"]) [part="root"] { text-decoration: underline; }
:host([disabled]) { color: var(--ds-gray-700); }
:host([disabled]) [part="root"] { cursor: not-allowed; }
[part="start"] { display: inline-block; margin-inline-end: .25em; }
[part="end"] { display: inline-block; margin-inline-start: .25em; }
[part="root"]:focus-visible { outline: none; box-shadow: var(--ds-focus-ring); border-radius: var(--r-sm, 4px); }
