.collapse :where(.heading) :where(.trigger) {
  cursor: pointer;
  width: 100%;
  color: var(--ds-gray-1000);
  border: unset;
  background: unset;
  padding: unset;
  margin: unset;
  font: unset;
  text-align: unset;
  appearance: unset;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.collapse :where(.heading) :where(.trigger) :where(.row) {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.collapse :where(.heading) :where(.trigger) :where(.row) :where(.chev) {
  color: var(--ds-gray-1000);
  align-items: center;
  transition-property: transform, translate, scale, rotate;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.collapse:where(.expanded) :where(.heading) :where(.trigger) :where(.row) :where(.chev) {
  rotate: 90deg;
}

.collapse :where(.panel) {
  font-size: 1rem;
  line-height: 26px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  overflow-y: hidden;
}

.collapse:where(:not(.grouped)) {
  border-top-style: solid;
  border-top-width: 1px;
}

.collapse:where(.grouped) {
  border-top-style: solid;
  border-top-width: 0;
}

.collapse {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--accents-2);
  text-align: left;
}

.collapse:where(.sm) :where(.heading) :where(.trigger) :where(.row) {
  padding-block: .75rem;
  padding-inline: 0;
}

.collapse:where(:not(.sm)) :where(.heading) :where(.trigger) :where(.row) {
  padding-block: 1.5rem;
}

.collapse:where(.sm) :where(.heading) {
  font-size: 16px;
  font-weight: var(--acme-font-weight-500);
}

.collapse:where(:not(.sm)) :where(.heading) {
  font-size: 24px;
  font-weight: var(--acme-font-weight-600);
}

.collapse :where(.panel) > div {
  max-height: 60vh;
  overflow-y: auto;
}

.collapse :where(.heading) :where(.trigger)[data-focus] {
  box-shadow: 0 0 0 calc(2px + 0px) var(--ds-blue-700);
  border-radius: .25rem;
  outline-style: none;
}
