.entity :where(.row) :where(.right) {
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  display: flex;
}

.entity {
  flex-direction: column;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  display: flex;
}

.entity :where(.row) {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.entity :where(.row) :where(.left) {
  flex: 1;
  align-items: center;
  gap: 1rem;
  min-width: 0;
  display: flex;
}

.entity:where(.clickable) {
  cursor: pointer;
  background-color: inherit;
  text-align: left;
  width: 100%;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --acme-gradient-from, --acme-gradient-via, --acme-gradient-to;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .1s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
}

:host([as="button"]) {
  background-color: inherit;
}

@media (hover: hover) {
  .entity:where(.clickable)[data-hover] {
    background-color: var(--accents-1);
  }
}

:host(:not(:last-child)) :where(.entity):where(.clickable[data-listed]) {
  border-color: var(--accents-2);
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

:host(:not(:last-child)) :where(.entity):where(:not(.clickable)[data-listed]) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--accents-2);
}
