:host { display: block; font-family: var(--acme-font-sans, sans-serif); font-size: var(--t-md, 14px); line-height: 20px; font-weight: var(--acme-font-weight-400, 400); }
:host(:where([as="span"])) { display: inline; }
