.status-dot :where(.label) {
  font-family: var(--acme-font-sans);
  font-size: 14px;
  line-height: 16px;
  font-weight: var(--acme-font-weight-400);
  margin-left: .5rem;
}

.status-dot :where(.dot) {
  border-radius: 2147483647px;
  width: .625rem;
  height: .625rem;
  display: inline-block;
}

.status-dot {
  align-items: center;
  display: inline-flex;
}

.status-dot:where(:not(.building, .ready, .error)) :where(.dot) {
  background-color: var(--accents-2);
}

.status-dot:where(.ready) :where(.dot) {
  background-color: var(--acme-cyan);
}

.status-dot:where(.error) :where(.dot) {
  background-color: var(--acme-error);
}

.status-dot:where(.building) :where(.dot) {
  background-color: var(--acme-warning);
}

.status-dot :where(.label) > strong {
  font-weight: var(--acme-font-weight-500);
  color: var(--ds-gray-1000);
}
