.group :where(.list) {
  flex-direction: row;
  flex: 0 auto;
  justify-content: stretch;
  align-items: stretch;
  gap: .75rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
