dialog:not([open]) {
  display: none;
}

dialog {
  width: auto;
  height: auto;
  color: inherit;
  user-select: auto;
  background: none;
  max-width: none;
  max-height: none;
  inset: auto;
  overflow: visible;
}
