@property --acme-motion-standard-spatial-fast-stiffness { syntax: "<number>"; inherits: true; initial-value: 1400; }
@property --acme-motion-standard-spatial-fast-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 0.9; }
@property --acme-motion-standard-spatial-default-stiffness { syntax: "<number>"; inherits: true; initial-value: 700; }
@property --acme-motion-standard-spatial-default-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 0.9; }
@property --acme-motion-standard-spatial-slow-stiffness { syntax: "<number>"; inherits: true; initial-value: 300; }
@property --acme-motion-standard-spatial-slow-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 0.9; }
@property --acme-motion-standard-effects-fast-stiffness { syntax: "<number>"; inherits: true; initial-value: 3800; }
@property --acme-motion-standard-effects-fast-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 1; }
@property --acme-motion-standard-effects-default-stiffness { syntax: "<number>"; inherits: true; initial-value: 1600; }
@property --acme-motion-standard-effects-default-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 1; }
@property --acme-motion-standard-effects-slow-stiffness { syntax: "<number>"; inherits: true; initial-value: 800; }
@property --acme-motion-standard-effects-slow-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 1; }
@property --acme-motion-expressive-spatial-fast-stiffness { syntax: "<number>"; inherits: true; initial-value: 800; }
@property --acme-motion-expressive-spatial-fast-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 0.6; }
@property --acme-motion-expressive-spatial-default-stiffness { syntax: "<number>"; inherits: true; initial-value: 380; }
@property --acme-motion-expressive-spatial-default-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 0.8; }
@property --acme-motion-expressive-spatial-slow-stiffness { syntax: "<number>"; inherits: true; initial-value: 200; }
@property --acme-motion-expressive-spatial-slow-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 0.8; }
@property --acme-motion-expressive-effects-fast-stiffness { syntax: "<number>"; inherits: true; initial-value: 3800; }
@property --acme-motion-expressive-effects-fast-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 1; }
@property --acme-motion-expressive-effects-default-stiffness { syntax: "<number>"; inherits: true; initial-value: 1600; }
@property --acme-motion-expressive-effects-default-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 1; }
@property --acme-motion-expressive-effects-slow-stiffness { syntax: "<number>"; inherits: true; initial-value: 800; }
@property --acme-motion-expressive-effects-slow-damping-ratio { syntax: "<number>"; inherits: true; initial-value: 1; }
