:host([data-in-tooltip]) > kbd {
  font-size: .75rem;
  line-height: calc(1 / .75);
  border-radius: .25rem;
  background-color: var(--ds-gray-400) !important;
  min-width: 1.25rem !important;
  height: 1.25rem !important;
  min-height: 0 !important;
  box-shadow: none !important;
}
