.show-more {
  align-items: center;
  min-height: 30px;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  display: flex;
}

.show-more :where(.pill) :where(.text) :where(.chev) {
  margin-left: .25rem;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: inline-flex;
}

.show-more :where(.line) {
  background-color: var(--ds-gray-alpha-400);
  flex-grow: 1;
  height: 1px;
  translate: -1px;
}

.show-more:where(.expanded) :where(.pill) :where(.text) :where(.chev) {
  rotate: 180deg;
}

.show-more :where(.pill) {
  background-color: var(--acme-background);
  border-radius: 99px;
}

.show-more:where(.no-border) :where(.line) {
  opacity: 0;
}

.show-more :where(.line):last-of-type {
  translate: 1px;
}
