.list {
  z-index: var(--ds-z-menu);
  background-color: var(--ds-background-100);
  padding: var(--ds-popover-padding);
  box-shadow: var(--ds-shadow-border-large);
  border-radius: .75rem;
  outline-style: none;
  margin: 0;
}

.list :where(.options) :where(.empty) {
  text-align: center;
  font-family: var(--acme-font-sans);
  color: var(--ds-gray-900);
  padding-top: .625rem;
  padding-bottom: .25rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
}

@media (forced-colors: active) {
  .list {
    outline-offset: 2px;
    outline: 2px solid #0000;
  }
}

.list :where(.options) :where(.empty) > strong {
  color: var(--ds-gray-1000);
  font-weight: 550;
}

.list > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
