.skeleton:where(.wrap) {
  visibility: hidden;
}

.skeleton:where(.off) {
  visibility: visible;
}

.skeleton:where(:not(.auto)) {
  position: relative;
}

.skeleton {
  display: block;
}

.skeleton:where(.auto) {
  width: auto !important;
}

.skeleton:where(:not(.off, .auto)) {
  overflow: hidden;
}

.skeleton:where(.off) {
  overflow: visible;
}

.skeleton:where(:is(.wrap, .off, .auto)), .skeleton:where(.still), .skeleton:where(:not(.pill):not(.rounded):not(.squared)) {
  border-radius: 5px;
}

.skeleton:where(.pill), .skeleton:where(.rounded) {
  border-radius: 2147483647px;
}

.skeleton:where(.squared) {
  border-radius: 0;
}

.skeleton:where(.off):after {
  visibility: hidden;
}

.skeleton:where(.wrap):after {
  content: "";
  visibility: visible;
}

.skeleton:where(:not(.auto)):after {
  position: absolute;
  inset: 0;
}

.skeleton:where(.button):after {
  top: -1px;
}

.skeleton:where(:not(.auto)):after {
  right: -200%;
}

.skeleton:where(.button):after {
  content: "";
  bottom: -1px;
  left: -1px;
}

.skeleton:where(:not(.still)):after {
  content: "";
  animation: 1.5s ease-in-out infinite reverse loading-skeleton;
}

.skeleton:where(.still):after {
  content: "";
  animation: none;
}

.skeleton:where(.pill):after, .skeleton:where(.rounded):after {
  content: "";
  border-radius: 2147483647px;
}

.skeleton:where(.squared):after {
  content: "";
  border-radius: 0;
}

.skeleton:where(:not(.auto)):after {
  background-image: linear-gradient(to right in oklab, var(--ds-gray-100) 0%, var(--ds-gray-200) 50%, var(--ds-gray-100) 100%);
  content: "";
  background-position: 0 0;
  background-size: 50% 100%;
}

.skeleton:where(:not(.off, .auto)):after {
  content: "";
}

.skeleton:where(.off):after {
  content: none;
}

@keyframes loading-skeleton {
  to {
    transform: translate(-50%);
  }
}
