:host {
  flex-flow: row;
  place-content: normal;
  align-items: normal;
  gap: 0;
  display: block;
}

[part~="root"] {
  flex-direction: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-content: inherit;
  gap: inherit;
  row-gap: inherit;
  column-gap: inherit;
  display: flex;
}
