:host {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: normal;
  align-content: normal;
  justify-content: normal;
  gap: 0;
}
[part~="root"] {
  display: flex;
  flex-direction: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-content: inherit;
  gap: inherit;
  row-gap: inherit;
  column-gap: inherit;
}
