.toast :where(.body) :where(.message) :where(.sr) {
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.toast {
  z-index: var(--ds-z-toast);
  width: 420px;
  max-width: min(420px, calc(100vw - 2 * var(--acme-gap)));
  box-shadow: var(--ds-shadow-menu);
  border-radius: 12px;
  padding: 1rem;
  line-height: 21px;
  transition-property: all;
  transition-duration: .35s;
  transition-timing-function: cubic-bezier(.25, .75, .6, .98);
  animation-duration: .35s;
  animation-timing-function: cubic-bezier(.25, .75, .6, .98);
  position: absolute;
  bottom: 0;
  right: 0;
}

.toast :where(.body) :where(.visual) {
  height: var(--visual-height, 128px);
  width: calc(100% + 32px);
  margin: -1rem -1rem 0;
}

.toast :where(.body) :where(.message) {
  text-wrap: pretty;
  word-break: break-word;
  width: 100%;
  height: 100%;
  color: inherit;
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: -1px;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.toast :where(.body) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
  max-width: 100%;
  font-size: .875rem;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.toast :where(.body) :where(.message) :where(.controls) {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: .25rem;
  display: flex;
}

.toast :where(.body) :where(.actions) {
  justify-content: flex-end;
  gap: .125rem;
  width: 100%;
  display: flex;
}

.toast:where(.hiding) {
  opacity: 0 !important;
  transition-property: all !important;
  transition-duration: .16s !important;
  transition-timing-function: cubic-bezier(.6, .3, .98, .5) !important;
  animation-duration: .16s !important;
  animation-timing-function: cubic-bezier(.6, .3, .98, .5) !important;
  transform: scale(.98) !important;
}

.toast:where(:not(.shown)) {
  opacity: 0;
  transform: translate3d(0, 100%, 150px) scale(1);
}

.toast:where(.shown) {
  opacity: 1;
  transform: none;
}

.toast:where(.clip) {
  overflow: hidden;
}

.toast:where(:is(.success, .error, .warning)) {
  border-style: solid;
  border-width: 0;
}

.toast:where(.warning) {
  background-color: var(--ds-amber-800);
}

.toast:where(.success) {
  background-color: var(--ds-blue-700);
}

.toast:where(.error) {
  background-color: var(--ds-red-800);
}

.toast:where(:not(.success, .error, .warning)) {
  background-color: var(--acme-background);
}

.toast:where(.bleed) {
  padding: 0 !important;
}

.toast:where(:is(.success, .error)) {
  color: var(--ds-contrast-fg);
}

.toast:where(:not(.success, .error)) {
  color: var(--ds-gray-1000);
}

.toast :where(.body) :where(.message) :where(.controls) :where(.undo) {
  color: inherit;
}

.toast:where(.warning) :where(.body) :where(.message) :where(.controls) {
  --themed-bg: var(--ds-amber-700);
}

.toast:where(.success) :where(.body) :where(.message) :where(.controls) {
  --themed-bg: var(--ds-blue-600);
}

.toast:where(.error) :where(.body) :where(.message) :where(.controls) {
  --themed-bg: var(--ds-red-700);
}

.toast :where(.body) :where(.message) a {
  background-image: linear-gradient(var(--ds-gray-1000),var(--ds-gray-1000));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  font-weight: 500;
}

.toast:where(:is(.success, .error)) :where(.body) :where(.message) :where(.controls) button {
  color: var(--ds-contrast-fg) !important;
}

.toast:where(.warning) :where(.body) :where(.message) :where(.controls) button {
  color: var(--ds-gray-1000) !important;
}

.toast:where(.wide) :where(.body) :where(.message) span {
  width: 100%;
}

.toast :where(.body) :where(.message) :where(.controls) :where(.undo) svg, .toast :where(.body) :where(.message) :where(.controls) :where(.close) svg, .toast :where(.body) :where(.actions) :where(.cancel) svg, .toast :where(.body) :where(.actions) :where(.action) svg {
  flex-shrink: 0;
}

:host(:not(:last-child)) :where(.toast) :where(.body) :where(.message) {
  opacity: 0 !important;
}

@media (hover: hover) {
  .toast[data-expanded] {
    max-height: var(--max-height) !important;
    transform: translate3d(0, var(--y), var(--z)) scale(1) !important;
  }

  .toast[data-expanded] :where(.body) :where(.message) {
    opacity: 1 !important;
  }
}

.toast:where(.error) :where(.body) :where(.actions) :where(.cancel):first-of-type {
  color: var(--ds-contrast-fg) !important;
}

.toast:where(.warning) :where(.body) :where(.actions) :where(.cancel):first-of-type {
  color: var(--ds-gray-1000) !important;
}

.toast :where(.body) :where(.actions) :where(.cancel):first-of-type {
  color: inherit;
  --themed-border: none !important;
}

:host(:nth-last-child(n+4)) :where(.toast) {
  pointer-events: none !important;
  opacity: 0 !important;
}

@media not all and (width >= 401px) {
  :host(:nth-last-child(n+3)) :where(.toast) {
    pointer-events: none !important;
    opacity: 0 !important;
  }
}

@media (hover: hover) {
  .toast[data-expanded]:after {
    content: "";
    background-color: #0000;
    width: 100%;
    height: 1.25rem;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
  }
}
