:host {
        display: contents;
      }
      .metric-list {
        display: contents;
        box-shadow: none;
        background: none;
      }
      .threshold {
        display: flex;
      }
