[data-acme-native-root=fieldset]{min-inline-size:0;inline-size:100%;border:0;padding:0;margin:0;font:inherit;color:inherit;}
[data-acme-native-root=fieldset]>legend{padding:0;margin-block-end:8px;font-family:var(--acme-font-sans);font-size:14px;line-height:20px;font-weight:var(--acme-font-weight-500);color:var(--ds-gray-1000);}
[data-acme-native-root=fieldset]>[slot=help],[data-acme-native-root=fieldset]>[slot=error]{display:block;font-size:13px;line-height:20px;margin-block:8px;color:var(--ds-gray-900);}
[data-acme-native-root=fieldset]>[slot=error]{color:var(--ds-red-900);}
[data-acme-native-root=fieldset]:not([aria-invalid=true])>[slot=error]{display:none;}
[data-acme-native-root=fieldset]:disabled>legend,[data-acme-native-root=fieldset]:disabled>[slot=help]{color:var(--ds-gray-700);}
[data-acme-native-root=fieldset]>[hidden]{display:none!important;}
