:host {
  display: inline-flex;
  position: relative;
}

:host([variant="inline"]) {
  display: block;
}

.success-icon {
  color: var(--ds-green-900);
}

.hint acme-markdown-icon {
  color: var(--ds-gray-700);
}
