:host{display:block;min-inline-size:0;}
.container{container-type:inline-size;}
.controls{color:var(--ds-gray-900);}
.address{padding-inline:1rem;min-block-size:28px;}
[part=content]{min-inline-size:0;}
