.section :where(.group) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section :where(.heading) {
  font-family: var(--acme-font-sans);
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--acme-font-weight-400);
  color: var(--ds-gray-800);
  padding: .5rem;
  display: block;
}

.section :where(.heading) > strong {
  font-weight: var(--acme-font-weight-500);
  color: var(--ds-gray-1000);
}
