:host {
  min-inline-size: 0;
  display: block;
}

[part="item"] {
  border-block-end: 1px solid var(--acme-accordion-border-color, var(--ds-gray-200));
}

::slotted(h1), ::slotted(h2), ::slotted(h3), ::slotted(h4), ::slotted(h5), ::slotted(h6) {
  margin: 0;
}
