.selection-label:is([data-checked],[data-indeterminate]) .indicator { background:var(--accent); color:var(--on-accent); border-color:var(--accent); }
.selection-label[data-hover]:is([data-checked],[data-indeterminate]) .indicator { background:var(--accent-hover); }
.selection-label[data-active]:is([data-checked],[data-indeterminate]) .indicator { background:var(--accent-active); }

@media(forced-colors:active) { .selection-label:is([data-checked],[data-indeterminate]) .indicator { background:Highlight; color:HighlightText; border-color:Highlight; } .selection-label[data-disabled] .indicator { background:Canvas; color:GrayText; border-color:GrayText; } }
