:host {
  display: block;
}

.code-block {
  margin-block: var(--acme-code-block-margin-block, 1rem);
}

acme-copy-button.floating {
  height: 0;
  display: block;
}

.strip {
  margin-bottom: .75rem;
  padding: 1px;
}

.actions {
  align-items: center;
  gap: .5rem;
}
