.empty-state :where(.text) :where(.description) {
  text-align: center;
  max-width: 340px;
  font-family: var(--acme-font-sans);
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--acme-font-weight-400);
  text-wrap: balance;
  color: var(--ds-gray-900);
  margin-inline: auto;
}

.empty-state {
  border-style: solid;
  border-width: 1px;
  border-radius: .5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding-block: 3rem;
  padding-inline: 70px;
  display: flex;
}

.empty-state :where(.text) {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.empty-state:where(:not(.no-border)) {
  border-color: var(--ds-gray-200);
}

.empty-state:where(.no-border) {
  border-color: #0000;
}

.empty-state:where(:not(.secondary)) {
  background-color: var(--ds-background-100);
}

.empty-state:where(.secondary) {
  background-color: var(--ds-background-200);
}

.empty-state:where(:not(.secondary)) :where(.text) :where(.title) {
  font-family: var(--acme-font-sans);
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--acme-font-weight-600);
  letter-spacing: -.32px;
}

.empty-state:where(.secondary) :where(.text) :where(.title) {
  font-family: var(--acme-font-sans);
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--acme-font-weight-600);
  letter-spacing: -.28px;
}

.empty-state :where(.text) :where(.title) {
  text-align: center;
  max-width: 340px;
  font-weight: var(--acme-font-weight-500);
  text-wrap: balance;
  color: var(--ds-gray-1000);
  margin-inline: auto;
}

.empty-state:where(:not(.secondary)) :where(.text) :where(.title) > strong {
  font-weight: var(--acme-font-weight-500);
  color: var(--ds-gray-900);
}

.empty-state :where(.text) :where(.description) > strong {
  color: var(--ds-gray-1000);
  font-weight: var(--acme-font-weight-550);
}

.empty-state > slot::slotted(a), .empty-state > slot > a {
  font-size: .875rem !important;
  line-height: calc(1.25 / .875) !important;
}
