.drawer {
  pointer-events: auto;
  width: 100%;
  max-height: 80dvh;
  transform: translateY(var(--drawer-swipe-movement-y, 0px));
  overscroll-behavior: none;
  border-top-left-radius: var(--acme-marketing-radius);
  border-top-right-radius: var(--acme-marketing-radius);
  background: var(--ds-background-100);
  -ms-scroll-chaining: none;
  max-width: 100%;
  min-height: 5dvh;
  box-shadow: var(--ds-shadow-menu);
  color: var(--ds-gray-1000);
  border: none;
  outline-style: none;
  padding: 0;
  transition: transform .5s cubic-bezier(.32, .72, 0, 1);
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(.32, .72, 0, 1);
  position: fixed;
  top: auto;
  bottom: 0;
  margin: 0 !important;
}

.drawer:where(.max) {
  height: 100%;
}

.drawer:where(:not(.noscroll)) {
  overflow-y: auto;
}

.drawer:where(.noscroll) {
  overflow-y: hidden;
}

.drawer[data-ending-style], .drawer[data-starting-style] {
  transform: translateY(100%);
}
