:host { display: inline; font-family: var(--acme-font-mono, monospace); font-size: var(--t-sm, 13px); line-height: 18px; }
[part="root"] { font: inherit; color: inherit; text-align: inherit; background: var(--comp); border-radius: 4px; padding: 1px 5px; white-space: break-spaces; font-feature-settings: "liga" off; }
.token.namespace { opacity: .7; }
.token.atrule { font-weight: var(--acme-font-weight-600, 600); }
.token.keyword { color: var(--ds-pink-900); }
.token.function, .token.tag, .token.class-name, .token.number { color: var(--ds-blue-900); }
.token.italic { font-style: italic; }
.token.deleted, .token.property, .token.entity { color: var(--ds-red-900); }
.token.inserted { color: var(--ds-blue-900); }
.token.selector, .token.string, .token.attr-value, .token.url, .token.symbol, .token.boolean, .token.variable, .token.constant { color: var(--ds-green-900); }
.token.punctuation, .token.operator { color: var(--ds-gray-1000); }
.token.important, .token.bold { font-weight: var(--acme-font-weight-700, 700); }
.token.attr-name, .token.regex { color: var(--ds-amber-900); }
.token.comment, .token.prolog, .token.doctype, .token.cdata { color: var(--accents-5); }
